@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./font.scss";
@import "./variable.scss";
@import "./navbar.scss";
@import "./menu.scss";
@import "./sectiom_1.scss";
@import "./title.scss";
@import "./btntotop.scss";
@import "./card_page1.scss";
@import "./btn_more.scss";
@import "./footer.scss";
@import "./btntotop.scss";
@import "./latest.scss";
@import "./popup_modal.scss";
@import "./sidebar.scss";

@import "./responsive.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5f5;
}
html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: $is_active;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

[x-cloak] {
    display: none !important;
}
