.full_card {
    &-container {
        width: 70%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.2rem;

        margin: 0 auto;

        .card {
            width: 100%;
            height: 30rem;
            box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
            background-color: $white;

            overflow: hidden;
            &:hover img {
                transform: scale(1.1);
            }

            .box_img {
                width: 100%;
                height: 45%;
                overflow: hidden;

                &:hover {
                    cursor: pointer;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    transition: 0.4s all;
                }
            }

            .box_title {
                width: 100%;
                height: 55%;

                padding: 15px 15px 5px 15px;
                a {
                    text-decoration: none;
                }
                .txt1 {
                    font-size: 19px;
                    line-height: 28px;
                    @include font-katumruy;
                    text-decoration: none !important;
                    color: $primary-color;
                    font-weight: 500;
                    text-decoration: underline;

                    display: inline;
                    -webkit-line-clamp: 2;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;

                    &:hover {
                        cursor: pointer;
                    }
                }
                .txt2 {
                    padding: 12px 0px 5px 0px;
                    font-size: 15px;
                    @include font-katumruy;
                    color: $root;
                }
                .txt3 {
                    margin-top: 10px;
                    font-size: 17px;
                    line-height: 25px;
                    @include font-katumruy;
                    color: $root;

                    display: inline;
                    -webkit-line-clamp: 3;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    word-wrap: break-word;
                }
                .btn_share {
                    padding-top: 15px;
                    width: 100%;
                    display: flex;
                    justify-content: end;
                    button {
                        border: none;
                        padding: 7px 9px;
                        border-radius: 3px;
                        background-color: $white;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
                            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                        text-decoration: none;
                    }

                    .btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;

                        transition: 0.2s all;
                        &:hover {
                            cursor: pointer;
                        }
                        svg {
                            width: 22px;
                            height: 22px;
                            color: $root;
                        }
                        .txt_share {
                            font-size: 15px;
                            opacity: 0.8;
                            @include font-katumruy;

                            transition: 0.2s all;
                        }
                    }
                }
            }
        }
    }
}
